API_ID=34080596
API_HASH=b73af5d787ed80b6fe0a961bd812edf0
BOT_TOKEN=8210925786:AAGSEF5bAJzN2P-IqnSjUAWibxmEKzBUJV8
LOGGER_ID=-1003601301106
MONGO_DB_URI=mongodb+srv://bot627668:2bEJ56yJSu7vzLws@cluster0.qbw5van.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7832349983
STRING_SESSION=BQHvdmIAww-scQb-rzD8reDW1bwB9ZKjCEJFFXb9ci9tHOOAGCW3zph77eg2uHQv4YyQ0QpbnwtvpCTfiTt2aiiGbmGjk6uKMWM1NZOPQSAndktAXEIE5w2sBdt2QQlPtBhHyQrdwgNNVz5TXBEZxvzVR_CxVkHAZZidGdThE898RsXfeFHchj
